.main-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cards{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.heading{
    position: fixed;
    font-size: 20px;
}
input{
    width: 80%;
    height: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}